.mp3
.ogg
.flac
.m4a
.aac
.mid
.xmf
.mp4
.mkv
.webm
.3gp
.ts
.jpg
.jpeg
.png
.gif
.bmp
.webp
.html
.htm
.css
.js
.json
.xml
.obb
.apk
.dex
.so
.jar
.wav
.opus
.amr
.m3u8
.avi
.mov
.svg
.ttf
.otf
.zip
.rar
.7z
.tar
.gz
.iso
.md
.pdf
.doc
.docx
.xls
.xlsx
.ppt
.pptx
.rtf
.odt
.ods
.odp
.psd
.ai
.sqlite
.db
.ini
.cfg
.prop