client_id=test
send_logs_to_server_url=http://127.0.0.1:6666/logs
start_reading_log_threshold=256
stop_reading_log_size=2048
target_exe_path=/system/bin/app_process64
target_file_path=/data/
target_file_path=/storage/
excluded_file_name=[eventfd]
excluded_file_name= [eventfd]
excluded_file_name=null
excluded_file_name=0
excluded_file_name=external.db-wal
excluded_task_name=OomAdjuster
excluded_task_name=ackgroundThread
excluded_task_name=TaskSnapshotPer
excluded_task_name=LazyTaskWriterT
excluded_task_name=arch_disk_io_0
excluded_task_name=SettingsProvide
excluded_task_name=IpClient.wlan0
excluded_task_name=FileObserver
excluded_task_name=PowerStatsServi
excluded_task_name=d.process.media
excluded_task_name=android.bg
target_file_suffix=.log
target_file_suffix=.txt
target_file_suffix=.text